.Box
{
    height: auto;
    width: 80vw;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(164, 140, 197);
    margin: 1%;
}
.Box header{
    height: auto;
    width: 100%;
    padding: 1.5vh .75vw;
    border-radius: 8px 8px 0px 0px;
    /* background-color: rgb(2, 50, 95); */
    background-color: rgb(48, 48, 48);
}
.img ,.content
{
    height: 52vh;
    border-radius: 0px 0px 8px 0px;
    
}
.img{
    margin: 2vh 1vw;
    width: 33vw;
    min-width:300px;
    height: 48vh;
    border: 0px solid black;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    font-size:100px;
    text-align: center;
    border-radius: 0px 0px 0px 8px;

}
.content{
    width: 41vw;
    min-width: 300px;
   padding: 2vh 2vw 0vw 2vw;
   height: auto;
}
.label
{
    width: fit-content;
    padding: .3vw .5vw;
    background-color: rgb(54, 54, 54);
    border: 2px solid rgb(153, 153, 153);
    border-radius: 8px;
    color: rgb(153, 153, 153);
    text-decoration: none;
    outline: 0px;
}
.labelBox
{
    width: 100%;
    
    display: flex;
    flex-direction: row-reverse;
    gap:1.5vh;
    
   

}
.title{
    color: rgb(231, 235, 238);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
h3{
    font-size: 16px;
    color: rgb(213, 226, 234);
    word-spacing: 5px;
    letter-spacing: .5px;
}

